section.page {
  display: grid;

  &.c2 { grid-template-columns: repeat(2, 1fr) }

  &.c3 { grid-template-columns: repeat(3, 1fr) }

  &.c4 { grid-template-columns: repeat(4, 1fr) }

  &.r8 { grid-template-rows: repeat(8, 1fr) }

  &.r9 { grid-template-rows: repeat(9, 1fr) }

  &.r10 { grid-template-rows: repeat(10, 1fr) }

  &.r11 { grid-template-rows: repeat(11, 1fr) }

  &.r12 { grid-template-rows: repeat(12, 1fr) }
}

@media screen {
  body {
    font-family: 'Courier New', Courier, monospace;
  }

  .page {
    width: 100%;
    margin: 0.2em 0.1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  div.label {
    padding: 3mm;
    border: 1px dashed;
    height: 22mm;
  }
}

@media print {
  @page {
    size: 210mm 297mm;
    margin: 8mm 6mm;
    padding: 0;
  }

  body {
    margin: 0;
    padding: 0;
  }

  .page {
    box-sizing: border-box;
    width: 210mm;
    height: 297mm;
    margin: 0;
    padding: 0;
    page-break-after: always;
    break-after: page;
  }


  #input {
    display: none;
  }

  div.label {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin: 0;
    padding: 6mm 6mm 0 0;
  }
}
